nav .brand-logo {
    font-family: serif;
    padding-left: 5px;
    height: 100%;
    padding-top: 8px;
    padding-bottom: 8px
}

.logo, .logoIcon {
    height: 100%
}

.logoContainer {
    background-color: red
}

.spacer {
    height: 100vh
}

.orange-text.text-lighten-3, #modal1 a, #modal2 a, #social i {
    color: #e0e721!important
}

.table-of-contents a:hover {
    padding-left: 30px
}

.blue {
    background-color: #00b0b9!important
}

.blue-text {
    color: #00b0b9!important
}

.light-blue.darken-2 {
    background-color: rgba(0, 176, 185, .95)!important
}

.icon-block {
    padding: 0 15px
}

.icon-block .material-icons {
    font-size: inherit
}

.table-of-contents.modTop a {
    height: 100%;
    padding: 20px 28px
}

.table-of-contents a {
    color: white;
    font-weight: 500
}

.table-of-contents a:hover, .table-of-contents.modSide a.active {
    color: #e0e721;
    background: #00676d
}

.modSide nav ul a:hover {
    background-color: #ffe0b2
}

.table-of-contents.modSide a {
    border-left: 3px solid rgba(255, 152, 0, 0)
}

.table-of-contents.modSide a.active {
    border-left: 3px solid #e0e721;
    padding-left: 30px
}

.table-of-contents.modTop a {
    border-top: 3px solid rgba(255, 152, 0, 0);
    border-left: 0
}

.table-of-contents a {
    text-transform: uppercase
}

.table-of-contents.modTop a:hover, .table-of-contents.modTop a.active {
    border-top: 3px solid #e0e721
}

.header {
    border-left: 3px solid #e0e721;
    padding-left: 1em
}

.side-nav li {
    float: none;
    line-height: 64px
}

.side-nav a {
    font-size: 2rem;
    height: 6rem;
    line-height: 3em
}

.modTop.table-of-contents li {
    padding: 0
}

.slider .slides {
    background-color: #0b939a!important;
    margin: 0
}

.slider .slides li .caption {
    top: 50%;
    background-color: rgba(2, 51, 53, .4)!important
}

h3 {
    margin: 0;
    text-transform: uppercase
}

.white {
    background-color: #04a6af!important
}

footer.page-footer .footer-copyright {
    background-color: rgba(2, 51, 53, .4);
    padding-left: 1em
}

.slider .indicators .indicator-item.active {
    background-color: #e0e721
}

nav .button-collapse i {
    padding-left: .5em
}

.orange {
    background-color: #e0e721!important
}

blockquote {
    border-left: 5px solid #04a6af
}

#modal1, #modal2 {
    background-color: rgba(2, 51, 53, .6)
}

.card-title, h2 {
    text-transform: uppercase
}

.card .card-content .card-title {
    line-height: 28px
}

.white-text a, #modal1 a {
    color: #fff!important
}

#modal1, #modal2 {
    max-height: 100%
}

.modal.modal-fixed-footer {
    height: 100%
}

.card.large {
    height: 550px
}

#contact li {
    list-style: none
}

#contactList li {
    opacity: 0
}

footer.page-footer .footer-copyright {
    height: 100px
}
