/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.table-of-contents.modTop a {
    height: 100%;
    padding: 20px 28px;
}

.table-of-contents a{
    color:white;
}


.table-of-contents a:hover {
    color: #FFB74D;
    background: rgb(250, 250, 250);
}

.modSide nav ul a:hover {
    background-color: #FFE0B2;
}

.table-of-contents.modTop a, .table-of-contents.modSide a{
    border-left: 3px solid rgba(255, 152, 0, 0);
}

.table-of-contents a.active, .table-of-contents a:hover, .header {
    border-left: 3px solid #FFCC80;
}


.side-nav li {
    float: none;
    line-height: 64px;
    padding:0;
}

.side-nav.table-of-contents li a:hover, .table-of-contents.modSide a.active, .header{
    padding-left:15px;
}

.modTop.table-of-contents li {
    padding: 0;
}
